<app-header></app-header>


<div class="container mt-5">
    <h2 class="mb-4 text-center fw-bold">Latest Posts</h2>

    <div *ngFor="let item of feeds"
        class="card mb-3 shadow-sm rounded-4 bg-info bg-opacity-10 border border-info border-start-0 ">
        <div class="card-body">
            <!-- article content -->
            <div *ngIf="item.article" class="">
                <div class="card-content mb-4">
                    <h5 class="card-title mb-2">{{ item.title }}</h5>
                    <p class="card-text text-muted">{{ item.article }}</p>
                    <p class="card-text text-primary">{{ formatDate(item.createdOn) }}</p>
                </div>

                <a [routerLink]="['/articleDetails', item.article_id]">Article Details</a>
            </div>

        </div>

        <!-- <div class="card-body">
            gif content
            <div class="card-content mb-4">
            <div *ngIf="item.gif" class="mb-3 text-center">
                <h5 class="card-title mb-2">{{ item.title }}</h5>
                <img [src]="item.gif" class="img-fluid rounded shadow-sm" alt="GIF" />
                <p class="card-text text-primary">{{ item.createdOn }}</p>
            </div>
            </div>

        </div> -->
    </div>
</div>