    <div class="container">
<h2 class="mb-4 text-center fw-bold"> ARTICLE</h2>

<div *ngFor="let item of feedItem" class="card mb-4 shadow-sm rounded-4 border-0">
    <div *ngIf="item.article_id === articleId" class="card-body bg-info bg-opacity-10 border border-info border-start-0 ">
        <div class="mb-3">
            <h5 class="card-title mb-2">{{ item.title }}</h5>
            <p class="card-text text-muted">{{ item.article }}</p>
            <p class="card-text text-primary">{{ item.createdOn }}</p>
        </div>

        <!-- comments section -->
        <div>
            <h6 class="text-muted mb-2"> Comments </h6>
            <div *ngIf="item.comments" class="mb-3">
                <h5 class="card-title mb-3">{{ item.comments }}</h5>
            </div>
            <app-add-article-comments></app-add-article-comments>
            <a type="submit" class="btn btn-primary mt-3" [routerLink]="['/feed']">Back To Feeds</a>
        </div>
    </div>
</div>
</div>
